// -------- Imports -------- //
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@700&display=swap');

// -------- Primary Colors -------- //
$text: #fafafa;
$background: #050505;
$background-menu: #0b0b0b;
$primary: #233a7b;
$secondary: #171c1c;
$accent: #b0b3b5;

// -------- Body -------- //
body{
  background-color: $background;
  font-family: 'Montserrat', sans-serif;
}

// -------- Menu Bar -------- //
$menu-bar-width: 100px;

#menu-bar {
  width: $menu-bar-width;
  height: 100vh;
  background-color: $background-menu;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #ffffff1a;

  & div,
  & a {
    display: flex;
    align-items: center;
    justify-content: center;

    & img{
      width: 50px;
      
      &:hover{
        cursor: pointer;
      }
    }
  }

  & .controls{
    height: auto !important;
    display: flex;
    flex-direction: column;
    gap: .25rem;

    & .active{
      box-shadow: 2px 0px 0px 0px $primary;
      cursor: pointer;
      
      & * {
        color: $primary;
      }
    }
    
    & .action {
      width: 100%;
      height: auto; 
      padding: 1rem 0;
      transition: all 50ms ease-in-out;
      
      &:hover {
        background-color: #ffffff1a;
        cursor: pointer;
      }
      
      & .icon{
        width: 24px;
        height: 24px;
        color: #ffffff5a;
        transition: all 50ms ease-in-out;
      }
    }
  }
}

#main-content{
  .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2.5rem;
    align-items: center;

    .title{
      display: flex;
      flex-direction: row;
      color: #ffffff70;
      gap: 1.25rem;
      align-items: baseline;
      margin-left: 6rem;
      
      h2 {
        font-size: larger;
        font-weight: 600;
        text-transform: uppercase;
      }

      p{
        color: #ffffff50;
      }
    }

    .search{
      display: flex;
      flex-direction: row;
      margin-right: 3rem;
      align-items: center;

      input {
        width: 300px;
        height: 35px;
        padding: 1.3rem 1.25rem;
        font-size: small;
        color: $text;
        background: #ffffff0a;
        border-radius: .35rem;

        &:focus {
          border: none;
          outline: none;
        }

        &::placeholder{
          color: #ffffff70;
        }
      }

      .icon { 
        width: 24px;
        height: 24px;
        color: #ffffff70;
        margin-left: -2.25rem;
      }
    }
  }
}