// -------- Primary Colors -------- //
$text: #fafafa;
$background: #050505;
$background-menu: #0b0b0b;
$primary: #233a7b;
$secondary: #171c1c;
$accent: #b0b3b5;

// -------- Body -------- //
body{
  background-color: $background;
}

// -------- Menu Bar -------- //
$menu-bar-width: 100px;

#menu-bar {
  width: $menu-bar-width;
  height: 100vh;
  background-color: $background-menu;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #ffffff1a;

  & div,
  & a {
    display: flex;
    align-items: center;
    justify-content: center;

    & img{
      width: 50px;
      
      &:hover{
        cursor: pointer;
      }
    }
  }

  & .controls{
    height: auto !important;
    display: flex;
    flex-direction: column;
    gap: .25rem;

    & .active{
      box-shadow: 2px 0px 0px 0px $primary;
      cursor: pointer;
      
      & * {
        color: $primary;
      }
    }
    
    & .action {
      width: 100%;
      height: auto; 
      padding: 1rem 0;
      transition: all 50ms ease-in-out;
      
      &:hover {
        background-color: #ffffff1a;
        cursor: pointer;
      }
      
      & .icon{
        width: 24px;
        height: 24px;
        color: #ffffff5a;
        transition: all 50ms ease-in-out;
      }
    }
  }
}